<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
</head>
<body>
<form action="#" method="post" th:action="@{/list/{listId}/addTask(listId=${list.id})}" th:object="${task}">
    <div class="form-group">
        <label>Title</label>
        <input id="title" placeholder="Title" th:field="*{title}" type="text"/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input id="description" placeholder="New task description" th:field="*{description}" type="text"/>
    </div>
    <input type="submit" value="Add board"/>
</form>
</body>
</html>